{% extends "base.html" %}

{% block title %}درباره ما{% endblock %}

{% block body %}
<div class="about-wrapper">
    <div class="about-card">
        <h1 class="about-title">درباره ما</h1>
        <div class="about-content">
            <p>
              سلام! من مامانِ سوری هستم؛ کسی که عشقِ بزرگش، لبخندِ نی‌نی‌ها و جادویِ هنرِ دست هست.

هر چیزی که در این فروشگاه می‌بینید، از اولین نخ تا آخرین دوخت، با عشق و دقتِ یک مادر و با ظرافتِ یک هنرمند توسط خودم بافته شده است. برای من، محصولاتِ این فروشگاه فقط یک کالا نیستند؛ بلکه بخشی از قلب و زمانِ من هستند که برای شما و عزیزترین‌هایتان می‌بافم.

در انتخاب متریال‌ها هم هرگز کوتاهی نکردم؛ تمام نخ‌ها و پارچه‌ها را از بهترین و باکیفیت‌ترین منابع ایران و ترکیه تهیه کرده‌ام تا خیالتان از بابت سلامت و لطافتِ پوستِ کوچولوهای عزیز کاملاً راحت باشد.

ممنونم که با انتخابِ کارهای دست‌بافت من، به هنرِ من بها می‌دهید.❤️❤️
            </p>
        </div>
        <hr class="divider">
        <a href="/" class="btn-back">بازگشت به صفحه اصلی</a>
    </div>
</div>
{% endblock %}
