{% extends "base.html" %}

{% block title %}سیسمونی سوری بافت{% endblock %}

{% block body %}

<header>
    <nav>
            <section class="logo">
                <img src="{{ url_for('static', filename='image/logo.png') }}" alt="sooribaaft">
            </section>
        <ul class="nav-links">

            <li class="search-container">
            <form action="/search" method="GET">
                <input type="text" name="q" placeholder="جستجو کنید..." class="search-input">
            </form>

            <li><a href="#">خانه</a></li>
            <li><a href="#">محصولات</a></li>
            <li><a href="#">سبد خرید</a></li>
        </li>

             <li class="auth-item">
            <a href="/user/login" class="auth-btn">ورود / ثبت‌نام</a>
        </li>
        </ul>
    </nav>
</header>




 <!-- Swiper Container -->
<div style="text-align: center; margin-bottom: 20px;">
    <h2 style="font-size: 24px; color: #333;">پرفروش‌ترین محصولات</h2>
</div>
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        {% for p in products %}
            <div class="swiper-slide">
                <div class="product-card">
                    <a href="{{ url_for('app.product', id=p.id, name=p.name) }}">
                        <div class="product-image">
                            <img src="{{ url_for('static', filename='cover/' + p.id|string + '.jpg') }}" alt="{{ p.name }}">
                        </div>
                        <div class="product-info">
                            <h3 class="product-name">{{ p.name }}</h3>
                            <p class="product-price">{{ "{:,.0f}".format(p.price) }} تومان</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- دکمه‌ها و نقاط -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>

{% endblock %}

{% block scripts %}
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 10,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 15,
      },
      768: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
      1024: {
        slidesPerView: 4,
        spaceBetween: 25,
      },
      1440: {
        slidesPerView: 5,
        spaceBetween: 30,
      }
    },
  });
</script>
</section>
{% endblock %}
